*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header-navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 34px 0px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    color: rgb(160, 10, 10);
}

.nav a:hover {
   
  color: wheat;
  background-color: green;
  border-radius: 5px;
}


.nav {
    width: 60%;
    margin: auto;
}

.logo-info {
    width: 40%;
    text-transform: uppercase;
    font-size: 23px;
    color: green;
    cursor: pointer;
}

/* Header Ends Here  */



.Bangladesh-info{
    display: flex;
    width: 80%;
    margin: auto;
}

.box-right{
    width: 40%;

}
.box-right img{
    width: 400px;

}


.box-left {margin-top: 50px;}

.box-left h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

button a {
    background-image: linear-gradient(45deg, red, green);
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

button {
    border: navajowhite;
    margin-top: 33px;
}

